<ion-header>
  <ion-toolbar>
    <ion-title>Detalle del Taller</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
     <ion-card-title class="ion-padding">{{ taller?.nombre }}</ion-card-title>
     <ion-card-content>
        <div class="ion-padding-vertical">
            <div class="ion-padding-horizontal">
                <p>Hora: {{ taller?.fecha | date:'dd/MM/YYYY h:mm a' }}</p>
                <p>Precio: {{ taller?.precio | currency: '$' : 'symbol' : '1.0-0' }}</p>
            </div>
            <ion-chip color="success">Costo: {{ taller?.costo | currency: '$' : 'symbol' : '1.0-0'}}</ion-chip> <br/>
            <!-- <p>Comentarios: {{ ( taller | async)?.comentarios }}</p> -->
            <ion-chip [color]="taller?.ingresos <= 0 ? 'danger': 'success'">
                Cantidad de Ingresos: {{ taller?.ingresos | currency: ' $' : 'symbol' : '1.0-0' }}
            </ion-chip>

            <p>Cantidad de Invitados que pagaron el evento: {{ this.cantidadPagados }}</p>
        </div>
     </ion-card-content>
  </ion-card>

  <ion-grid>
     <ion-row class="ion-justify-content-center">
        <ion-col size="6" size-xs="12" size-md="6">
            <ion-card>
                <ion-card-title class="ion-text-center ion-padding">
                    Agregar Invitado
                </ion-card-title>

                <ion-card-content>
                    <ion-item>
                        <ion-label position="floating">Nombre del invitado</ion-label>
                        <ion-input type="text" [(ngModel)]="nombreInvitado"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>¿Paga el evento?</ion-label>
                        <ion-checkbox [(ngModel)]="pagoEvento"></ion-checkbox>
                    </ion-item>
                </ion-card-content>

                <center class="ion-padding">
                    <ion-button color="primary" (click)="agregarInvitado()">
                        Agregar paciente
                    </ion-button>
                </center>
            </ion-card>
        </ion-col>

        <!-- <ion-col size="6" size-xs="12" size-md="6">
            <ion-button color="primary" expand="block" (click)="abrirAlertComentario()">
                Agregar comentarios
            </ion-button>
        </ion-col>-->
     </ion-row>
  </ion-grid>

  <ion-card class="ion-margin-top" *ngIf="invitados.length > 0; else sinInvitados">
      <ion-card-title class="ion-padding">Invitados Inscritos:</ion-card-title>
      <ion-card-content>
          <ion-item-divider *ngFor="let paciente of invitados">
              <ion-label>
                  Nombre: {{ paciente.nombreInvitado }} <br/>
                  ¿Pagó evento? <ion-chip color="{{ paciente.pagoEvento ? 'success' : 'danger' }}">
                  {{ paciente.pagoEvento ? 'Sí' : 'No' }}
              </ion-chip>
              </ion-label>
          </ion-item-divider>
      </ion-card-content>
  </ion-card>

  <ng-template #sinInvitados>
      <center>
          <ion-chip color="danger">No hay Pacientes inscritos aún</ion-chip>
      </center>
  </ng-template>
</ion-content>
