<ion-header>
  <ion-toolbar>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formRegister" (ngSubmit)="registerUser()">
        <h4>Registro de Usuarios</h4>
        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email" aria-placeholder="email" required></ion-input>
        </ion-item>

        <ion-chip color="danger" *ngIf="emailField.errors && emailField.dirty">
            <ion-label *ngIf="emailField.hasError('email')">
                El email es inválido
            </ion-label>
            <ion-label *ngIf="emailField.hasError('required')">
                El email es requerido
            </ion-label>
        </ion-chip>

        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input formControlName="password" type="password" required></ion-input>
        </ion-item>
        <ion-chip color="danger" *ngIf="passField.errors && passField.dirty">
            <ion-label *ngIf="passField.hasError('minlength')">
                La contraseña debe tener un mínimo de 6 caracteres
            </ion-label>
            <ion-label *ngIf="passField.hasError('required')">
                La contraseña es requerida
            </ion-label>
        </ion-chip>

        <ion-button type="submit" expand="block" [disabled]="!formRegister.valid">
            Registrar
        </ion-button>

        <p>Ya estás registrado?</p> <a routerLink="/login">Ingresa</a>
        <p>Has olvidado la contraseña? </p> <a routerLink="/recover">Recupérala</a>
    </form>
</ion-content>
