<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Resultados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
<ion-list>
  <ion-item>
    <strong>Datos del Usuario</strong>
  </ion-item>
  <ion-item>
    <ion-label>Nombre: {{ datos ? datos.nombre : '' }} {{ datos ? datos.apellido : '' }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Edad: {{ datos ? datos.edad : ''}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Resultado: {{ datos ? datos.sumatoria : '' }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label [style]="{ color: color}">
        Diagnostico: {{ diagnostico }}
    </ion-label>
  </ion-item>
  <ion-item [style]="{ color: color}">
    <ion-label>Estres: {{ porcentaje ? porcentaje.toFixed(3) : '' }}%</ion-label>
  </ion-item>
  <ion-item>
    <p [style]="{ color: color}">
      {{ mensaje }}
    </p>
  </ion-item>
  <br>
  <ion-button type="submit" color="danger"
              (click)="guardarResultado()"
              expand="block">
    Guardar Datos
    <ion-icon name="save-outline" class="ion-margin"></ion-icon>
  </ion-button>
</ion-list>
</ion-content>
